body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin:0;
    background-color: azure;
}

#below
{
    height: 100px;
    background-color: blueviolet;
}
#below h1
{
    padding-top: 30px;
    text-align: right;
    margin-right: 5%;
    margin-top: 0;
    color: aliceblue;
    font-family: Roboto;
}
#head
{
    height: 100px;
    background-color: bisque;
}

#head h1
{
    margin: 0 0 0 5%;
    padding-top: 30px;
    font-family: Roboto;
}
.list
{
    position: center;
}

.product-wrapper
{
    display: block;
    width: 250px;
    float: left;
}
.product
{
    display: block;
    /*border: 2px solid black;*/
    border-radius: 3px;
    position: relative;
    background: bisque;
    margin: 0px 20px 20px 0px;
    padding-top: 30px;
    text-decoration: none;
    color: black;
    z-index: 0;
    height: 300px;
    font-family: Roboto;
    text-align: center;
    font-size: large;
}
.product-photo
{
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}
.product-photo img
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    transition: transform .4s ease-out;
}
@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}

